/tiny
/target
/cargo
/.cargo

*.log.*
*.log
*.jpg
*.png
*.csv
*.dot
*.png
*.s
*.ll
*.json

file
file[0-9]
file.*
file-?[0-9]*

wtf
wtf.*
wtf-?[0-9]*

__pycache__
*.pyc

/assets/tmp

# --- sometimes cargo adds stuff below this line and I don't notice ---
